USE [master]
GO
/****** Object:  Database [CS_BN]    Script Date: 01/06/2026 8:00:21 SA ******/
CREATE DATABASE [CS_BN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CS_BN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.BN\MSSQL\DATA\CS_BN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CS_BN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.BN\MSSQL\DATA\CS_BN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CS_BN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CS_BN]
GO
/****** Object:  Table [dbo].[CoSo]    Script Date: 01/06/2026 8:00:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoSo](
	[MaCoSo] [char](4) NOT NULL,
	[TenCoSo] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[LaCoSoChinh] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCoSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKy]    Script Date: 01/06/2026 8:00:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKy](
	[MaDangKy] [char](15) NOT NULL,
	[MaSV] [char](10) NULL,
	[MaLopHP] [char](12) NULL,
	[TgDangKy] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDangKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 01/06/2026 8:00:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[MaGV] [char](10) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[MaCoSo] [char](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocPhan]    Script Date: 01/06/2026 8:00:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocPhan](
	[MaHP] [char](8) NOT NULL,
	[TenHP] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHocPhan]    Script Date: 01/06/2026 8:00:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHocPhan](
	[MaLopHP] [char](12) NOT NULL,
	[MaHP] [char](8) NULL,
	[MaGV] [char](10) NULL,
	[MaCoSo] [char](4) NULL,
	[SiSoToiDa] [int] NULL,
	[SiSoHienTai] [int] NULL,
	[MaPhong] [char](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLopHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongHoc]    Script Date: 01/06/2026 8:00:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongHoc](
	[MaPhong] [char](6) NOT NULL,
	[TenPhong] [nvarchar](50) NULL,
	[MaCoSo] [char](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 01/06/2026 8:00:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [char](10) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
	[MaCoSo] [char](4) NULL,
	[Khoa] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CoSo] ([MaCoSo], [TenCoSo], [DiaChi], [LaCoSoChinh]) VALUES (N'BN  ', N'Bắc Ninh', N'Đường Lý Thái Tổ, Bắc Ninh', 1)
GO
INSERT [dbo].[DangKy] ([MaDangKy], [MaSV], [MaLopHP], [TgDangKy]) VALUES (N'SV_HN01   26052', N'SV_HN01   ', N'LHP_BN002   ', CAST(N'2026-05-29T09:33:19.353' AS DateTime))
INSERT [dbo].[DangKy] ([MaDangKy], [MaSV], [MaLopHP], [TgDangKy]) VALUES (N'SV_HN01   26053', N'SV_HN01   ', N'LHP_BN001   ', CAST(N'2026-05-30T00:09:15.683' AS DateTime))
INSERT [dbo].[DangKy] ([MaDangKy], [MaSV], [MaLopHP], [TgDangKy]) VALUES (N'SV_HN02   26052', N'SV_HN02   ', N'LHP_BN002   ', CAST(N'2026-05-29T09:33:19.357' AS DateTime))
GO
INSERT [dbo].[GiangVien] ([MaGV], [HoTen], [MaCoSo]) VALUES (N'GV_BN01   ', N'Tiến sĩ Lê Đình A', N'BN  ')
INSERT [dbo].[GiangVien] ([MaGV], [HoTen], [MaCoSo]) VALUES (N'GV01      ', N'Nguyễn Văn A', N'BN  ')
GO
INSERT [dbo].[HocPhan] ([MaHP], [TenHP]) VALUES (N'IT101   ', N'Cơ sở dữ liệu')
INSERT [dbo].[HocPhan] ([MaHP], [TenHP]) VALUES (N'IT102   ', N'Lập trình hướng đối tượng')
INSERT [dbo].[HocPhan] ([MaHP], [TenHP]) VALUES (N'IT103   ', N'Mạng máy tính')
GO
INSERT [dbo].[LopHocPhan] ([MaLopHP], [MaHP], [MaGV], [MaCoSo], [SiSoToiDa], [SiSoHienTai], [MaPhong]) VALUES (N'LHP_BN001   ', N'IT101   ', N'GV01      ', N'BN  ', 50, 22, N'P101  ')
INSERT [dbo].[LopHocPhan] ([MaLopHP], [MaHP], [MaGV], [MaCoSo], [SiSoToiDa], [SiSoHienTai], [MaPhong]) VALUES (N'LHP_BN002   ', N'IT103   ', N'GV_BN01   ', N'BN  ', 40, 3, N'PH_BN1')
GO
INSERT [dbo].[PhongHoc] ([MaPhong], [TenPhong], [MaCoSo]) VALUES (N'P101  ', N'A101', N'BN  ')
INSERT [dbo].[PhongHoc] ([MaPhong], [TenPhong], [MaCoSo]) VALUES (N'PH_BN1', N'Phòng 101-BN', N'BN  ')
GO
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [NgaySinh], [MaCoSo], [Khoa]) VALUES (N'SV_BN01   ', N'Bùi Hải Đăng', CAST(N'2004-05-15' AS Date), N'BN  ', N'Công nghệ thông tin')
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [NgaySinh], [MaCoSo], [Khoa]) VALUES (N'SV01      ', N'Trần Văn B', CAST(N'2005-01-01' AS Date), N'BN  ', N'CNTT')
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [NgaySinh], [MaCoSo], [Khoa]) VALUES (N'SV02      ', N'Lê Thị C', CAST(N'2005-02-15' AS Date), N'BN  ', N'CNTT')
GO
ALTER TABLE [dbo].[DangKy]  WITH NOCHECK ADD FOREIGN KEY([MaLopHP])
REFERENCES [dbo].[LopHocPhan] ([MaLopHP])
GO
ALTER TABLE [dbo].[GiangVien]  WITH CHECK ADD FOREIGN KEY([MaCoSo])
REFERENCES [dbo].[CoSo] ([MaCoSo])
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD FOREIGN KEY([MaCoSo])
REFERENCES [dbo].[CoSo] ([MaCoSo])
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PhongHoc] ([MaPhong])
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiangVien] ([MaGV])
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD FOREIGN KEY([MaHP])
REFERENCES [dbo].[HocPhan] ([MaHP])
GO
ALTER TABLE [dbo].[PhongHoc]  WITH CHECK ADD FOREIGN KEY([MaCoSo])
REFERENCES [dbo].[CoSo] ([MaCoSo])
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD FOREIGN KEY([MaCoSo])
REFERENCES [dbo].[CoSo] ([MaCoSo])
GO
/****** Object:  StoredProcedure [dbo].[SP_DangKyHocPhan]    Script Date: 01/06/2026 8:00:22 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_DangKyHocPhan]
    @MaSV CHAR(10),
    @MaLopHP CHAR(12)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        -- Bắt đầu giao dịch
        BEGIN TRANSACTION;

        DECLARE @SiSoToiDa INT;
        DECLARE @SiSoHienTai INT;
        DECLARE @MaHP CHAR(8);

        -- 1. Đọc và khóa dòng dữ liệu của lớp học phần bằng UPDLOCK và ROWLOCK
        -- Lệnh này chặn tất cả các phiên khác đọc/sửa đổi sĩ số lớp này cho đến khi kết thúc COMMIT
        SELECT @SiSoToiDa = SiSoToiDa, 
               @SiSoHienTai = SiSoHienTai,
               @MaHP = MaHP
        FROM dbo.LopHocPhan WITH (UPDLOCK, ROWLOCK)
        WHERE MaLopHP = @MaLopHP;

        -- Kiểm tra xem lớp học phần có tồn tại không
        IF @SiSoToiDa IS NULL
        BEGIN
            THROW 50001, N'Lỗi: Lớp học phần không tồn tại trong hệ thống.', 1;
        END

        -- 2. Kiểm tra ràng buộc: Sinh viên đã đăng ký học phần này ở lớp khác chưa
        IF EXISTS (
            SELECT 1 FROM dbo.DangKy dk 
            JOIN dbo.LopHocPhan lhp ON dk.MaLopHP = lhp.MaLopHP
            WHERE dk.MaSV = @MaSV AND lhp.MaHP = @MaHP
        )
        BEGIN
            THROW 50002, N'Lỗi: Sinh viên đã đăng ký học phần này rồi.', 1;
        END

        -- 3. Kiểm tra sĩ số xem đã đầy chưa (Race Condition chặn ở đây)
        IF @SiSoHienTai >= @SiSoToiDa
        BEGIN
            THROW 50003, N'Lỗi: Lớp học phần đã đạt sĩ số tối đa, không thể đăng ký.', 1;
        END

        -- 4. Tự sinh mã đăng ký ngẫu nhiên/theo quy tắc (Ví dụ chuỗi 15 ký tự)
        DECLARE @MaDangKy CHAR(15);
        SET @MaDangKy = LEFT(@MaSV + REPLACE(CONVERT(VARCHAR, GETDATE(), 12), '-', '') + CAST(CAST(RAND()*100 AS INT) AS VARCHAR), 15);

        -- 5. Thêm bản ghi đăng ký mới vào mảnh cục bộ của lớp
        INSERT INTO dbo.DangKy (MaDangKy, MaSV, MaLopHP, TgDangKy)
        VALUES (@MaDangKy, @MaSV, @MaLopHP, GETDATE());

        -- 6. Cập nhật tăng sĩ số hiện tại của lớp học phần
        UPDATE dbo.LopHocPhan
        SET SiSoHienTai = SiSoHienTai + 1
        WHERE MaLopHP = @MaLopHP;

        -- Hoàn tất giao dịch thành công
        COMMIT TRANSACTION;
        PRINT N'Đăng ký học phần thành công!';
        
    END TRY
    BEGIN CATCH
        -- Nếu có bất kỳ lỗi nào xảy ra, hệ thống tự động Rollback
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Ném lỗi chi tiết ra ngoài để ứng dụng hoặc Site gọi nhận biết được
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorNumber INT = ERROR_NUMBER();
        
        RAISERROR (N'Mã lỗi %d: %s', 16, 1, @ErrorNumber, @ErrorMessage);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DangKyHocPhan_DemoLag]    Script Date: 01/06/2026 8:00:22 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Tạo thủ tục giả lập độ trễ mạng để test khóa dòng (RowLock)
CREATE   PROCEDURE [dbo].[sp_DangKyHocPhan_DemoLag]
    @MaSV CHAR(10),
    @MaLopHP CHAR(12)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON; 

    BEGIN TRY
        BEGIN TRANSACTION;
        DECLARE @SiSoToiDa INT, @SiSoHienTai INT, @MaHP CHAR(8);

        -- Đọc dữ liệu và áp đặt khóa (UPDLOCK, ROWLOCK)
        SELECT @SiSoToiDa = SiSoToiDa, @SiSoHienTai = SiSoHienTai, @MaHP = MaHP
        FROM dbo.LopHocPhan WITH (UPDLOCK, ROWLOCK)
        WHERE MaLopHP = @MaLopHP;

        -- Giả lập hệ thống xử lý mất 10 giây
        WAITFOR DELAY '00:00:10'; 

        IF @SiSoHienTai >= @SiSoToiDa
            THROW 50003, N'Lỗi: Lớp học phần đã đạt sĩ số tối đa, không thể đăng ký.', 1;

        DECLARE @MaDangKy CHAR(15) = LEFT(@MaSV + REPLACE(CONVERT(VARCHAR, GETDATE(), 12), '-', '') + CAST(CAST(RAND()*100 AS INT) AS VARCHAR), 15);
        INSERT INTO dbo.DangKy (MaDangKy, MaSV, MaLopHP, TgDangKy) VALUES (@MaDangKy, @MaSV, @MaLopHP, GETDATE());
        UPDATE dbo.LopHocPhan SET SiSoHienTai = SiSoHienTai + 1 WHERE MaLopHP = @MaLopHP;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DangKyHocPhan_Distributed]    Script Date: 01/06/2026 8:00:22 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DangKyHocPhan_Distributed]
    @MaSV    CHAR(10),
    @MaLopHP CHAR(12),
    @SiteSV  VARCHAR(4),   -- 'BN' | 'HN' | 'HY' | 'ND'
    @SiteLop VARCHAR(4)    -- 'BN' | 'HN' | 'HY' | 'ND'
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE
        @DatabaseSV    NVARCHAR(100),
        @DatabaseLop   NVARCHAR(100),
        @SQL           NVARCHAR(2000),
        @ErrMsg        NVARCHAR(500);

    -- ================================================================
    --  BƯỚC 1: Xác định database dựa vào site
    -- ================================================================
    SET @DatabaseSV = CASE @SiteSV
        WHEN 'BN' THEN 'CS_BN'
        WHEN 'HN' THEN 'CS_HN'
        WHEN 'HY' THEN 'CS_HY'
        WHEN 'ND' THEN 'CS_ND'
        ELSE NULL
    END;

    SET @DatabaseLop = CASE @SiteLop
        WHEN 'BN' THEN 'CS_BN'
        WHEN 'HN' THEN 'CS_HN'
        WHEN 'HY' THEN 'CS_HY'
        WHEN 'ND' THEN 'CS_ND'
        ELSE NULL
    END;

    IF @DatabaseSV IS NULL OR @DatabaseLop IS NULL
    BEGIN
        RAISERROR('Site khong hop le. Chi nhan: BN, HN, HY, ND.', 16, 1);
        RETURN;
    END;

    -- ================================================================
    --  BƯỚC 2: Trường hợp SV và lớp cùng site → gọi SP_Local cùng site
    -- ================================================================
    IF @SiteSV = @SiteLop
    BEGIN
        -- Tạo câu lệnh gọi SP_Local cùng site
        SET @SQL = N'EXEC ' + @DatabaseSV + N'.dbo.SP_DangKyHocPhan_Local 
                    @MaSV = @MaSV, @MaLopHP = @MaLopHP';
        
        BEGIN TRY
            EXEC sp_executesql @SQL,
                 N'@MaSV CHAR(10), @MaLopHP CHAR(12)',
                 @MaSV = @MaSV, @MaLopHP = @MaLopHP;
        END TRY
        BEGIN CATCH
            SET @ErrMsg = 'LOI tren ' + @SiteSV + ': ' + ERROR_MESSAGE();
            RAISERROR(@ErrMsg, 16, 1);
        END CATCH;
    END
    ELSE
    BEGIN
        -- ============================================================
        --  BƯỚC 3: SV và lớp khác site → xuyên site (phức tạp hơn)
        --  Kiểm tra SV tồn tại trước
        -- ============================================================
        DECLARE @SvExists INT = 0;
        SET @SQL = N'SELECT @cnt = COUNT(1) FROM ' + @DatabaseSV + N'.dbo.SinhVien 
                    WHERE MaSV = @MaSV';
        
        BEGIN TRY
            EXEC sp_executesql @SQL,
                 N'@MaSV CHAR(10), @cnt INT OUTPUT',
                 @MaSV = @MaSV, @cnt = @SvExists OUTPUT;
        END TRY
        BEGIN CATCH
            SET @ErrMsg = 'LOI kiem tra SV tren ' + @SiteSV + ': ' + ERROR_MESSAGE();
            RAISERROR(@ErrMsg, 16, 1);
            RETURN;
        END CATCH;

        IF @SvExists = 0
        BEGIN
            RAISERROR('Sinh vien %s khong ton tai tren site %s.', 16, 1, @MaSV, @SiteSV);
            RETURN;
        END;

        -- Kiểm tra lớp tồn tại
        DECLARE @LopExists INT = 0;
        SET @SQL = N'SELECT @cnt = COUNT(1) FROM ' + @DatabaseLop + N'.dbo.LopHocPhan 
                    WHERE MaLopHP = @MaLopHP';
        
        BEGIN TRY
            EXEC sp_executesql @SQL,
                 N'@MaLopHP CHAR(12), @cnt INT OUTPUT',
                 @MaLopHP = @MaLopHP, @cnt = @LopExists OUTPUT;
        END TRY
        BEGIN CATCH
            SET @ErrMsg = 'LOI kiem tra Lop tren ' + @SiteLop + ': ' + ERROR_MESSAGE();
            RAISERROR(@ErrMsg, 16, 1);
            RETURN;
        END CATCH;

        IF @LopExists = 0
        BEGIN
            RAISERROR('Lop %s khong ton tai tren site %s.', 16, 1, @MaLopHP, @SiteLop);
            RETURN;
        END;

        -- ============================================================
        --  BƯỚC 4: Gọi SP_Local trên site chứa lớp
        --  (Đăng ký thực hiện trên site của lớp)
        -- ============================================================
        SET @SQL = N'EXEC ' + @DatabaseLop + N'.dbo.SP_DangKyHocPhan_Local 
                    @MaSV = @MaSV, @MaLopHP = @MaLopHP';
        
        BEGIN TRY
            EXEC sp_executesql @SQL,
                 N'@MaSV CHAR(10), @MaLopHP CHAR(12)',
                 @MaSV = @MaSV, @MaLopHP = @MaLopHP;
        END TRY
        BEGIN CATCH
            SET @ErrMsg = 'LOI tren site ' + @SiteLop + ': ' + ERROR_MESSAGE();
            RAISERROR(@ErrMsg, 16, 1);
        END CATCH;
    END;

END;

GO
/****** Object:  StoredProcedure [dbo].[SP_DangKyHocPhan_Local]    Script Date: 01/06/2026 8:00:22 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DangKyHocPhan_Local]
    @MaSV    CHAR(10),
    @MaLopHP CHAR(12)
AS
BEGIN
    SET NOCOUNT ON;
    SET TRANSACTION ISOLATION LEVEL REPEATABLE READ;

    DECLARE
        @SiSoToiDa    INT,
        @SiSoHienTai  INT,
        @MaDangKy     CHAR(15),
        @ThoiGian     DATETIME = GETDATE(),
        @ErrMsg       NVARCHAR(500),
        @RowCount     INT;

    -- ================================================================
    --  BƯỚC 1: Kiểm tra sinh viên tồn tại
    -- ================================================================
    IF NOT EXISTS (SELECT 1 FROM SinhVien WHERE MaSV = @MaSV)
    BEGIN
        RAISERROR('Sinh vien %s khong ton tai tren BN.', 16, 1, @MaSV);
        RETURN;
    END;

    -- ================================================================
    --  BƯỚC 2: Kiểm tra lớp học phần tồn tại
    -- ================================================================
    IF NOT EXISTS (SELECT 1 FROM LopHocPhan WHERE MaLopHP = @MaLopHP)
    BEGIN
        RAISERROR('Lop hoc phan %s khong ton tai tren BN.', 16, 1, @MaLopHP);
        RETURN;
    END;

    -- ================================================================
    --  BƯỚC 3: Kiểm tra chưa đăng ký lớp này
    -- ================================================================
    IF EXISTS (SELECT 1 FROM DangKy WHERE MaSV = @MaSV AND MaLopHP = @MaLopHP)
    BEGIN
        RAISERROR('Sinh vien da dang ky lop nay tren BN roi.', 16, 1);
        RETURN;
    END;

    -- ================================================================
    --  BƯỚC 4: Sinh MaDangKy duy nhất
    -- ================================================================
    SET @MaDangKy = LEFT('DK' + REPLACE(CAST(NEWID() AS VARCHAR(36)), '-', ''), 15);

    BEGIN TRY
        BEGIN TRANSACTION;

        -- ============================================================
        --  BƯỚC 5: ĐỌC + KHÓA dòng LopHocPhan
        --  WITH (UPDLOCK, ROWLOCK, NOWAIT)
        -- ============================================================
        SELECT @SiSoToiDa   = SiSoToiDa,
               @SiSoHienTai = ISNULL(SiSoHienTai, 0)
        FROM LopHocPhan WITH (UPDLOCK, ROWLOCK, NOWAIT)
        WHERE MaLopHP = @MaLopHP;

        -- ============================================================
        --  BƯỚC 6: Kiểm tra sĩ số sau khi có lock
        -- ============================================================
        IF @SiSoHienTai >= @SiSoToiDa
        BEGIN
            ROLLBACK TRANSACTION;
            RAISERROR('Lop %s da day (%d/%d cho) tren BN.', 16, 1, @MaLopHP, @SiSoHienTai, @SiSoToiDa);
            RETURN;
        END;

        -- ============================================================
        --  BƯỚC 7: INSERT vào DangKy
        -- ============================================================
        INSERT INTO DangKy (MaDangKy, MaSV, MaLopHP, TgDangKy)
        VALUES (@MaDangKy, @MaSV, @MaLopHP, @ThoiGian);

        SET @RowCount = @@ROWCOUNT;
        IF @RowCount <> 1
        BEGIN
            ROLLBACK TRANSACTION;
            RAISERROR('Loi INSERT vao DangKy tren BN.', 16, 1);
            RETURN;
        END;

        -- ============================================================
        --  BƯỚC 8: UPDATE sĩ số +1
        -- ============================================================
        UPDATE LopHocPhan
        SET    SiSoHienTai = SiSoHienTai + 1
        WHERE  MaLopHP = @MaLopHP
          AND  ISNULL(SiSoHienTai, 0) < SiSoToiDa;

        SET @RowCount = @@ROWCOUNT;
        IF @RowCount <> 1
        BEGIN
            ROLLBACK TRANSACTION;
            RAISERROR('Xung dot dong thoi tren BN: lop vua bi day.', 16, 1);
            RETURN;
        END;

        -- ============================================================
        --  BƯỚC 9: COMMIT
        -- ============================================================
        COMMIT TRANSACTION;

        SELECT
            'THANH CONG'         AS TrangThai,
            @MaDangKy            AS MaDangKy,
            @MaSV                AS MaSV,
            @MaLopHP             AS MaLopHP,
            @SiSoHienTai + 1     AS SiSoSauDangKy,
            @SiSoToiDa           AS SiSoToiDa,
            @ThoiGian            AS ThoiGianDangKy,
            'BN'                 AS Site;

    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;

        SET @ErrMsg = 'LOI [' + CAST(ERROR_NUMBER() AS NVARCHAR) + ']: '
                    + ERROR_MESSAGE() + ' | BN';

        RAISERROR(@ErrMsg, 16, 1);
    END CATCH;

END;

GO
/****** Object:  StoredProcedure [dbo].[sp_DangKyHocPhan_Loi_LostUpdate]    Script Date: 01/06/2026 8:00:22 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Tạo thủ tục cố tình bỏ qua các cơ chế an toàn
CREATE PROCEDURE [dbo].[sp_DangKyHocPhan_Loi_LostUpdate]
    @MaSV CHAR(10),
    @MaLopHP CHAR(12)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @SiSoToiDa INT, @SiSoHienTai INT, @MaHP CHAR(8);

    -- 1. Đọc dữ liệu (KHÔNG DÙNG KHÓA UPDLOCK)
    SELECT @SiSoToiDa = SiSoToiDa, @SiSoHienTai = SiSoHienTai, @MaHP = MaHP
    FROM dbo.LopHocPhan
    WHERE MaLopHP = @MaLopHP;

    -- Giả lập độ trễ mạng 10 giây để 2 sinh viên cùng đọc được chung 1 giá trị SiSoHienTai
    WAITFOR DELAY '00:00:10'; 

    -- 2. Kiểm tra điều kiện và Cập nhật
    IF @SiSoHienTai < @SiSoToiDa
    BEGIN
        -- Thêm sinh viên vào danh sách đăng ký
        DECLARE @MaDangKy CHAR(15) = LEFT(@MaSV + REPLACE(CONVERT(VARCHAR, GETDATE(), 12), '-', '') + CAST(CAST(RAND()*100 AS INT) AS VARCHAR), 15);
        
        INSERT INTO dbo.DangKy (MaDangKy, MaSV, MaLopHP, TgDangKy) 
        VALUES (@MaDangKy, @MaSV, @MaLopHP, GETDATE());

        -- CẬP NHẬT LỖI: Dùng lại biến @SiSoHienTai đã đọc từ 10 giây trước để cộng thêm 1
        UPDATE dbo.LopHocPhan 
        SET SiSoHienTai = @SiSoHienTai + 1 
        WHERE MaLopHP = @MaLopHP;
        
        PRINT N'Đăng ký thành công!';
    END
    ELSE
    BEGIN
        PRINT N'Lỗi: Lớp đã đầy!';
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DangKyHocPhan_V2]    Script Date: 01/06/2026 8:00:22 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DangKyHocPhan_V2]
    @MaSV    CHAR(10),
    @MaLopHP CHAR(12)
AS
BEGIN
    SET NOCOUNT ON;
    SET TRANSACTION ISOLATION LEVEL REPEATABLE READ;

    -- ================================================================
    --  KHAI BÁO BIẾN
    -- ================================================================
    DECLARE
        @SiSoToiDa    INT,
        @SiSoHienTai  INT,
        @MaDangKy     CHAR(15),
        @ThoiGian     DATETIME = GETDATE(),
        @ErrMsg       NVARCHAR(500),
        @RowCount     INT;

    -- ================================================================
    --  BƯỚC 1: Kiểm tra sinh viên tồn tại
    -- ================================================================
    IF NOT EXISTS (SELECT 1 FROM SinhVien WHERE MaSV = @MaSV)
    BEGIN
        RAISERROR('Sinh vien %s khong ton tai.', 16, 1, @MaSV);
        RETURN;
    END;

    -- ================================================================
    --  BƯỚC 2: Kiểm tra lớp học phần tồn tại
    -- ================================================================
    IF NOT EXISTS (SELECT 1 FROM LopHocPhan WHERE MaLopHP = @MaLopHP)
    BEGIN
        RAISERROR('Lop hoc phan %s khong ton tai.', 16, 1, @MaLopHP);
        RETURN;
    END;

    -- ================================================================
    --  BƯỚC 3: Kiểm tra chưa đăng ký lớp này
    -- ================================================================
    IF EXISTS (SELECT 1 FROM DangKy WHERE MaSV = @MaSV AND MaLopHP = @MaLopHP)
    BEGIN
        RAISERROR('Sinh vien da dang ky lop nay roi.', 16, 1);
        RETURN;
    END;

    -- ================================================================
    --  BƯỚC 4: Sinh MaDangKy duy nhất
    --  Format: DK + 13 ký tự random
    -- ================================================================
    SET @MaDangKy = LEFT('DK' + REPLACE(CAST(NEWID() AS VARCHAR(36)), '-', ''), 15);

    -- ================================================================
    --  BƯỚC 5: MỞ TRANSACTION - VÙng an toàn
    --  Tất cả thay đổi sẽ được commit hoặc rollback cùng nhau
    -- ================================================================
    BEGIN TRY
        BEGIN TRANSACTION;

        -- ============================================================
        --  BƯỚC 6: ĐỌC + KHÓA dòng LopHocPhan
        --  WITH (UPDLOCK, ROWLOCK, NOWAIT):
        --    - UPDLOCK: khóa cập nhật (ngăn reader leo lên write-lock)
        --    - ROWLOCK: chỉ khóa dòng này, không khóa cả bảng
        --    - NOWAIT: nếu không lấy lock ngay → báo lỗi, không chờ
        --
        --  Đây là kỹ thuật "Lock then Read" - an toàn nhất chống race condition
        -- ============================================================
        SELECT @SiSoToiDa   = SiSoToiDa,
               @SiSoHienTai = ISNULL(SiSoHienTai, 0)
        FROM LopHocPhan WITH (UPDLOCK, ROWLOCK, NOWAIT)
        WHERE MaLopHP = @MaLopHP;

        -- ============================================================
        --  BƯỚC 7: Kiểm tra sĩ số - LẦN 2 (sau khi đã có lock)
        --  Lần kiểm tra này mới là "chính thức" vì đã giữ UPDLOCK
        -- ============================================================
        IF @SiSoHienTai >= @SiSoToiDa
        BEGIN
            ROLLBACK TRANSACTION;
            RAISERROR('Lop %s da day (%d/%d cho).', 16, 1, @MaLopHP, @SiSoHienTai, @SiSoToiDa);
            RETURN;
        END;

        -- ============================================================
        --  BƯỚC 8: INSERT bản ghi đăng ký vào DangKy
        -- ============================================================
        INSERT INTO DangKy (MaDangKy, MaSV, MaLopHP, TgDangKy)
        VALUES (@MaDangKy, @MaSV, @MaLopHP, @ThoiGian);

        SET @RowCount = @@ROWCOUNT;
        IF @RowCount <> 1
        BEGIN
            ROLLBACK TRANSACTION;
            RAISERROR('Loi INSERT vao DangKy.', 16, 1);
            RETURN;
        END;

        -- ============================================================
        --  BƯỚC 9: UPDATE sĩ số hiện tại +1
        --  Điều kiện thêm: kiểm tra lần nữa sĩ số không vượt (defensive)
        -- ============================================================
        UPDATE LopHocPhan
        SET    SiSoHienTai = SiSoHienTai + 1
        WHERE  MaLopHP = @MaLopHP
          AND  ISNULL(SiSoHienTai, 0) < SiSoToiDa;

        SET @RowCount = @@ROWCOUNT;
        IF @RowCount <> 1
        BEGIN
            ROLLBACK TRANSACTION;
            RAISERROR('Xung dot dong thoi: lop vua bi day, thu lai.', 16, 1);
            RETURN;
        END;

        -- ============================================================
        --  BƯỚC 10: COMMIT - xác nhận toàn bộ thay đổi
        -- ============================================================
        COMMIT TRANSACTION;

        -- Trả về kết quả thành công
        SELECT
            'THANH CONG'         AS TrangThai,
            @MaDangKy            AS MaDangKy,
            @MaSV                AS MaSV,
            @MaLopHP             AS MaLopHP,
            @SiSoHienTai + 1     AS SiSoSauDangKy,
            @SiSoToiDa           AS SiSoToiDa,
            @ThoiGian            AS ThoiGianDangKy;

    END TRY
    BEGIN CATCH
        -- ============================================================
        --  XỬ LÝ LỖI: Rollback nếu có bất kỳ lỗi nào
        -- ============================================================
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;

        SET @ErrMsg = 'LOI [' + CAST(ERROR_NUMBER() AS NVARCHAR) + ']: '
                    + ERROR_MESSAGE();

        RAISERROR(@ErrMsg, 16, 1);
    END CATCH;

END;

GO
/****** Object:  StoredProcedure [dbo].[SP_XemSiSo_V2]    Script Date: 01/06/2026 8:00:22 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_XemSiSo_V2]
    @MaLopHP CHAR(12) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        MaLopHP,
        MaHP,
        MaCoSo,
        SiSoToiDa,
        ISNULL(SiSoHienTai, 0) AS SiSoHienTai,
        SiSoToiDa - ISNULL(SiSoHienTai, 0) AS ConTrong,
        CAST(ROUND(ISNULL(SiSoHienTai,0) * 100.0 / NULLIF(SiSoToiDa,0), 2) 
        AS DECIMAL(5,2)) AS TyLeLapDay,
        CASE
            WHEN ISNULL(SiSoHienTai,0) >= SiSoToiDa THEN 'DAY'
            WHEN ISNULL(SiSoHienTai,0) >= SiSoToiDa * 0.9 THEN 'GAN DAY'
            ELSE 'CON CHO'
        END AS TinhTrang
    FROM LopHocPhan
    WHERE @MaLopHP IS NULL OR MaLopHP = @MaLopHP
    ORDER BY MaCoSo, MaLopHP;
END;

GO
USE [master]
GO
