USE [master]
GO
/****** Object:  Database [CS_ND]    Script Date: 01/06/2026 8:06:08 SA ******/
CREATE DATABASE [CS_ND]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CS_ND', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.ND\MSSQL\DATA\CS_ND.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CS_ND_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.ND\MSSQL\DATA\CS_ND_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CS_ND].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CS_ND]
GO
/****** Object:  Table [dbo].[CoSo]    Script Date: 01/06/2026 8:06:08 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoSo](
	[MaCoSo] [char](4) NOT NULL,
	[TenCoSo] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[LaCoSoChinh] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCoSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKy]    Script Date: 01/06/2026 8:06:08 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKy](
	[MaDangKy] [char](15) NOT NULL,
	[MaSV] [char](10) NULL,
	[MaLopHP] [char](12) NULL,
	[TgDangKy] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDangKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 01/06/2026 8:06:08 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[MaGV] [char](10) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[MaCoSo] [char](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocPhan]    Script Date: 01/06/2026 8:06:08 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocPhan](
	[MaHP] [char](8) NOT NULL,
	[TenHP] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHocPhan]    Script Date: 01/06/2026 8:06:08 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHocPhan](
	[MaLopHP] [char](12) NOT NULL,
	[MaHP] [char](8) NULL,
	[MaGV] [char](10) NULL,
	[MaCoSo] [char](4) NULL,
	[SiSoToiDa] [int] NULL,
	[SiSoHienTai] [int] NULL,
	[MaPhong] [char](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLopHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongHoc]    Script Date: 01/06/2026 8:06:08 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongHoc](
	[MaPhong] [char](6) NOT NULL,
	[TenPhong] [nvarchar](50) NULL,
	[MaCoSo] [char](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 01/06/2026 8:06:08 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [char](10) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
	[MaCoSo] [char](4) NULL,
	[Khoa] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CoSo] ([MaCoSo], [TenCoSo], [DiaChi], [LaCoSoChinh]) VALUES (N'BN  ', N'Cơ sở Bắc Ninh', N'Bắc Ninh', 1)
INSERT [dbo].[CoSo] ([MaCoSo], [TenCoSo], [DiaChi], [LaCoSoChinh]) VALUES (N'HN  ', N'Cơ sở Hà Nội', N'Hà Nội', 0)
INSERT [dbo].[CoSo] ([MaCoSo], [TenCoSo], [DiaChi], [LaCoSoChinh]) VALUES (N'HY  ', N'Cơ sở Hưng Yên', N'Hưng Yên', 0)
GO
INSERT [dbo].[GiangVien] ([MaGV], [HoTen], [MaCoSo]) VALUES (N'GV_ND01   ', N'Tiến sĩ Vũ Đình D', N'ND  ')
GO
INSERT [dbo].[HocPhan] ([MaHP], [TenHP]) VALUES (N'IT101   ', N'Cơ sở dữ liệu phân tán')
INSERT [dbo].[HocPhan] ([MaHP], [TenHP]) VALUES (N'IT102   ', N'Lập trình hướng đối tượng')
INSERT [dbo].[HocPhan] ([MaHP], [TenHP]) VALUES (N'IT103   ', N'Mạng máy tính')
GO
INSERT [dbo].[LopHocPhan] ([MaLopHP], [MaHP], [MaGV], [MaCoSo], [SiSoToiDa], [SiSoHienTai], [MaPhong]) VALUES (N'LHP_ND001   ', N'IT101   ', N'GV_ND01   ', N'ND  ', 60, 0, N'PH_ND1')
GO
INSERT [dbo].[PhongHoc] ([MaPhong], [TenPhong], [MaCoSo]) VALUES (N'PH_ND1', N'Phòng 404-ND', N'ND  ')
GO
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [NgaySinh], [MaCoSo], [Khoa]) VALUES (N'SV_ND01   ', N'Nguyễn Duy Khánh', CAST(N'2004-12-12' AS Date), N'ND  ', N'Công nghệ thông tin')
GO
ALTER TABLE [dbo].[DangKy]  WITH NOCHECK ADD FOREIGN KEY([MaLopHP])
REFERENCES [dbo].[LopHocPhan] ([MaLopHP])
GO
ALTER TABLE [dbo].[DangKy]  WITH NOCHECK ADD FOREIGN KEY([MaLopHP])
REFERENCES [dbo].[LopHocPhan] ([MaLopHP])
GO
ALTER TABLE [dbo].[GiangVien]  WITH CHECK ADD FOREIGN KEY([MaCoSo])
REFERENCES [dbo].[CoSo] ([MaCoSo])
GO
ALTER TABLE [dbo].[GiangVien]  WITH CHECK ADD FOREIGN KEY([MaCoSo])
REFERENCES [dbo].[CoSo] ([MaCoSo])
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD FOREIGN KEY([MaCoSo])
REFERENCES [dbo].[CoSo] ([MaCoSo])
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD FOREIGN KEY([MaCoSo])
REFERENCES [dbo].[CoSo] ([MaCoSo])
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PhongHoc] ([MaPhong])
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PhongHoc] ([MaPhong])
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiangVien] ([MaGV])
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiangVien] ([MaGV])
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD FOREIGN KEY([MaHP])
REFERENCES [dbo].[HocPhan] ([MaHP])
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD FOREIGN KEY([MaHP])
REFERENCES [dbo].[HocPhan] ([MaHP])
GO
ALTER TABLE [dbo].[PhongHoc]  WITH CHECK ADD FOREIGN KEY([MaCoSo])
REFERENCES [dbo].[CoSo] ([MaCoSo])
GO
ALTER TABLE [dbo].[PhongHoc]  WITH CHECK ADD FOREIGN KEY([MaCoSo])
REFERENCES [dbo].[CoSo] ([MaCoSo])
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD FOREIGN KEY([MaCoSo])
REFERENCES [dbo].[CoSo] ([MaCoSo])
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD FOREIGN KEY([MaCoSo])
REFERENCES [dbo].[CoSo] ([MaCoSo])
GO
/****** Object:  StoredProcedure [dbo].[sp_DangKyHocPhan]    Script Date: 01/06/2026 8:06:08 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Tạo thủ tục chuẩn
CREATE PROCEDURE [dbo].[sp_DangKyHocPhan]
    @MaSV CHAR(10),
    @MaLopHP CHAR(12)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON; 

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @SiSoToiDa INT, @SiSoHienTai INT, @MaHP CHAR(8);

        -- Đọc và khóa dòng dữ liệu của lớp học phần
        SELECT @SiSoToiDa = SiSoToiDa, @SiSoHienTai = SiSoHienTai, @MaHP = MaHP
        FROM dbo.LopHocPhan WITH (UPDLOCK, ROWLOCK)
        WHERE MaLopHP = @MaLopHP;

        IF @SiSoToiDa IS NULL THROW 50001, N'Lỗi: Lớp học phần không tồn tại.', 1;
        
        IF EXISTS (SELECT 1 FROM dbo.DangKy dk JOIN dbo.LopHocPhan lhp ON dk.MaLopHP = lhp.MaLopHP WHERE dk.MaSV = @MaSV AND lhp.MaHP = @MaHP)
            THROW 50002, N'Lỗi: Sinh viên đã đăng ký học phần này rồi.', 1;

        IF @SiSoHienTai >= @SiSoToiDa THROW 50003, N'Lỗi: Lớp học phần đã đạt sĩ số tối đa.', 1;

        -- Tạo mã đăng ký tự động
        DECLARE @MaDangKy CHAR(15) = LEFT(@MaSV + REPLACE(CONVERT(VARCHAR, GETDATE(), 12), '-', '') + CAST(CAST(RAND()*100 AS INT) AS VARCHAR), 15);
        
        INSERT INTO dbo.DangKy (MaDangKy, MaSV, MaLopHP, TgDangKy)
        VALUES (@MaDangKy, @MaSV, @MaLopHP, GETDATE());

        UPDATE dbo.LopHocPhan
        SET SiSoHienTai = SiSoHienTai + 1
        WHERE MaLopHP = @MaLopHP;

        COMMIT TRANSACTION;
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorNumber INT = ERROR_NUMBER();
        RAISERROR (N'Mã lỗi %d: %s', 16, 1, @ErrorNumber, @ErrorMessage);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DangKyHocPhan_Local]    Script Date: 01/06/2026 8:06:08 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DangKyHocPhan_Local]
    @MaSV    CHAR(10),
    @MaLopHP CHAR(12)
AS
BEGIN
    SET NOCOUNT ON;
    SET TRANSACTION ISOLATION LEVEL REPEATABLE READ;

    DECLARE
        @SiSoToiDa    INT,
        @SiSoHienTai  INT,
        @MaDangKy     CHAR(15),
        @ThoiGian     DATETIME = GETDATE(),
        @ErrMsg       NVARCHAR(500),
        @RowCount     INT;

    IF NOT EXISTS (SELECT 1 FROM SinhVien WHERE MaSV = @MaSV)
    BEGIN
        RAISERROR('Sinh vien %s khong ton tai tren ND.', 16, 1, @MaSV);
        RETURN;
    END;

    IF NOT EXISTS (SELECT 1 FROM LopHocPhan WHERE MaLopHP = @MaLopHP)
    BEGIN
        RAISERROR('Lop hoc phan %s khong ton tai tren ND.', 16, 1, @MaLopHP);
        RETURN;
    END;

    IF EXISTS (SELECT 1 FROM DangKy WHERE MaSV = @MaSV AND MaLopHP = @MaLopHP)
    BEGIN
        RAISERROR('Sinh vien da dang ky lop nay tren ND roi.', 16, 1);
        RETURN;
    END;

    SET @MaDangKy = LEFT('DK' + REPLACE(CAST(NEWID() AS VARCHAR(36)), '-', ''), 15);

    BEGIN TRY
        BEGIN TRANSACTION;

        SELECT @SiSoToiDa   = SiSoToiDa,
               @SiSoHienTai = ISNULL(SiSoHienTai, 0)
        FROM LopHocPhan WITH (UPDLOCK, ROWLOCK, NOWAIT)
        WHERE MaLopHP = @MaLopHP;

        IF @SiSoHienTai >= @SiSoToiDa
        BEGIN
            ROLLBACK TRANSACTION;
            RAISERROR('Lop %s da day (%d/%d cho) tren ND.', 16, 1, @MaLopHP, @SiSoHienTai, @SiSoToiDa);
            RETURN;
        END;

        INSERT INTO DangKy (MaDangKy, MaSV, MaLopHP, TgDangKy)
        VALUES (@MaDangKy, @MaSV, @MaLopHP, @ThoiGian);

        SET @RowCount = @@ROWCOUNT;
        IF @RowCount <> 1
        BEGIN
            ROLLBACK TRANSACTION;
            RAISERROR('Loi INSERT vao DangKy tren ND.', 16, 1);
            RETURN;
        END;

        UPDATE LopHocPhan
        SET    SiSoHienTai = SiSoHienTai + 1
        WHERE  MaLopHP = @MaLopHP
          AND  ISNULL(SiSoHienTai, 0) < SiSoToiDa;

        SET @RowCount = @@ROWCOUNT;
        IF @RowCount <> 1
        BEGIN
            ROLLBACK TRANSACTION;
            RAISERROR('Xung dot dong thoi tren ND: lop vua bi day.', 16, 1);
            RETURN;
        END;

        COMMIT TRANSACTION;

        SELECT
            'THANH CONG'         AS TrangThai,
            @MaDangKy            AS MaDangKy,
            @MaSV                AS MaSV,
            @MaLopHP             AS MaLopHP,
            @SiSoHienTai + 1     AS SiSoSauDangKy,
            @SiSoToiDa           AS SiSoToiDa,
            @ThoiGian            AS ThoiGianDangKy,
            'ND'                 AS Site;

    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;

        SET @ErrMsg = 'LOI [' + CAST(ERROR_NUMBER() AS NVARCHAR) + ']: '
                    + ERROR_MESSAGE() + ' | ND';

        RAISERROR(@ErrMsg, 16, 1);
    END CATCH;

END;

GO
USE [master]
GO
